.section{
  margin-top: 100px;
}

.wraper_fuul{
  max-width: 983px;
  margin: 0 auto;
}

.works{
  display: grid;
  grid-template-columns: 230px 330px 200px;
  margin-bottom: 10px;
}

.works_h1{
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;

  color: #000000;
}
